body {
    background-color: #ffffff;
    color: #2E16FF;
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #A100FF;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    color: #A100FF;
    font-size: 12px;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão, se necessário */
}

h3 {
    font-family: 'Irish Grover', cursive;
    color: #A100FF;
    font-size: 36px;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão, se necessário */
}

h4 {
    font-family: 'Irish Grover', cursive;
    color: #A100FF;
    font-size: 16px;
}

h5 {
    font-family: 'Merienda';
    font-size: 24px;
    color: #2E16FF;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão, se necessário */
}

h6 {
    font-family: 'Arial';
    font-size: 18px;
    color: #2E16FF;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão, se necessário */
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="url"] {
    color: #2E16FF;
    border-bottom: 2px solid #A100FF;
}

::placeholder {
    color: #2E16FF;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2E16FF;
    border-bottom: 2px solid #A100FF;
}

/* Botões */

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Botões da página de login e dos modais*/

button.outros {
    background-color: #A100FF;
    color: #FFFFFF;
    cursor: pointer;
    width: 40%;
}

/* Botão LogOut e Cadastrar apelido */

#botaoLogout, #cadastrarApelido {
    background-color: #D2A8FF;
    color: #2E2E2E;
    cursor: pointer;
    width: 70px;
}

#botaoLogout:hover, #cadastrarApelido:hover {
    background-color: #A100FF;
    color: #FFFFFF;
}

/* Botão + */

#botaoAdicionarEvento {
    background-color: #D2A8FF;
    color: #2E2E2E;
    cursor: pointer;
    width: 40px;
    font-size: 24px;
}

#botaoAdicionarEvento:hover {
    background-color: #A100FF;
    color: #FFFFFF;
}

/* Botões Editar / Excluir / Local */

#botaoEditar, #botaoExcluir, #botaoLocal {
    background-color: #D2A8FF;
    color: #2E2E2E;
    cursor: pointer;
    width: 40px;
}

#botaoEditar:hover, #botaoExcluir:hover, #botaoLocal:hover {
    background-color: #A100FF;
    color: #FFFFFF;
}

/* Imagens */

.login {
    width: 250px;
}

.propaganda {
    width: 100%;
}

/* Containers individuais */

.form-container {
    background-color: #D2A8FF;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.form-container2 {
    background-color: #D2A8FF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

.form-container input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2E16FF;
    border-bottom: 2px solid #A100FF;
}

.event-container {
    background-color: #D2A8FF;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

.event-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.event-item h3 {
    margin: 0 0 10px;
    color: #2E16FF;
}

.event-item p {
    margin: 5px 0;
    color: #2E16FF;
}

/* Modal - Adicionar evento */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #D2A8FF;
    border-radius: 8px;
    padding: 20px;
    margin: 15% auto;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2E16FF;
    border-bottom: 2px solid #A100FF;

}

.close {
    color: #A100FF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #B0B0B0;
    text-decoration: none;
    cursor: pointer;
}

/* Campos data e hora */
.date-time-container {
    display: flex;
    gap: 10px;
}

.date-time-container input {
    flex: 1;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .form-container,
    .event-container,
    .modal-content {
        width: 100%;
        padding: 15px;
    }
}
